@import '../../../common/sass/variables';

:local(.ihrBlockTabGroup),
.ihr-block-tab-group {
  border: 1px solid $n400;
  border-radius: $border-radius;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;

  ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      width: 100%;

      &:last-child {
        button {
          border-right: 0;
        }
      }

      button {
        background-color: $n200;
        border-radius: 0;
        border-right: 1px solid $n400;
        color: $n600;
        display: block;
        font-weight: $fz-small;
        line-height: $lh-small;
        outline: none;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color .15s ease-in;
        width: 100%;
        padding:10px 0;

        &.active,
        &:active,
        &:hover,
        &:focus {
          background-color: $n100;
          color: $i400;
          cursor: pointer;
        }

        &.small {
          font-size: $fz-xsmall;
          line-height: $lh-xsmall;
          padding: 7px 0;
        }

        &.medium {
          font-size: $fz-small;
          line-height: $lh-small;
        }

        &.large {
          font-size: $fz-body;
          line-height: $lh-display-large;
          padding: 16px 0;
        }

      }
    }
  }
}
