@mixin switch-size-legacy(
  $font-size: 1rem,
  $width: 4rem,
  $height: 2rem,
  $paddle-width: 1.5rem,
  $paddle-offset: .25rem
) {
  $paddle-height: $height - ($paddle-offset * 2);
  $paddle-left-active: $width - $paddle-width - $paddle-offset;

  .switch-paddle {
    font-size: $font-size;
    height: $height;
    width: $width;

    &::after {
      height: $paddle-height;
      width: $paddle-width;
    }
  }

  input {
    &:checked ~ .switch-paddle {
      &::after {
        #{$global-left}: $paddle-left-active;
      }
    }
  }
}

@mixin limit-width($max-width: 900px) {
  max-width: $max-width;
}
