@import 'resources/mixins';

.inline-element {
  display: inline;
}

.inline-block-element {
  display: inline-block;
}

.hidden {
  display: none;
}

.borderless {
  border: 0;
}

.bordered {
  border: 1px solid $border;
  border-radius: 4px;
  margin: 0 0 1rem;
  padding: 1rem;
}

.limit-width {
  @include limit-width
}

.field-label {
  //white-space: nowrap;
  cursor: default;
  font-size: rem-calc(16);
  font-weight: $global-weight-bold;
  margin-bottom: rem-calc(3);
}

.field-value {
  margin-bottom: rem-calc(5);
}

.required {
  &::after {
    color: $alert;
    content: ' *';
  }
}

.label {
  font-weight: normal;
}

.row {
  &.column {
    &.content-container {
      margin-left: 0;
      margin-right: 0;

      @include breakpoint(large up) {
        padding: 0 24px;
      }

      @include breakpoint(medium down) {
        padding: 0 16px;
      }
    }
  }
}

.account {
  .not-set {
    color: $subheading;
    font-size: 80%;
  }

  &.sso {
    padding-bottom: .6rem;
  }
}

.on-leave-text {
  color: $warning-base;
}

.vertical-align-middle {
  vertical-align: middle;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa.fa-camera-outline {
  @extend .fa-camera;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &:before {
    color: white;
    font-size: .8rem;
    text-shadow: -1px -1px $main-text, -1px 1px $main-text, 1px -1px $main-text, 1px 1px $main-text;
  }
}

textarea {
  resize: vertical;
}
