.request-support {
  &.loading {
    &::after {
      animation: fa-spin 2s infinite linear;
      content: '\f1ce';
      display: inline-block;
      font-family: FontAwesome;
      position: absolute;
      right: 10px;
    }
  }
}
