body,
html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
}

.off-canvas-wrapper,
.off-canvas,
.off-canvas-content {
  min-height: 100vh;
}

.off-canvas-content {
  box-shadow: 0 0 0;

  >.content-container {
    padding-bottom: 2rem;
  }
}

.content-container,
fieldset {
  hr {
    max-width: 100%;
  }
}

.off-canvas {
  height: 100%;
}

.off-canvas-wrapper {
  width: 100%;
  overflow: initial;
  #offCanvasLeft {
    position: fixed;
    min-height: auto;
    height: auto;
    bottom: 0;
    .ps__rail-y {
      &, &:hover {
        .ps__thumb-y {
          background-color: #c3ccd0;
        }
      }
    }
  }
}

.fa.fa-xl {
  font-size: 1.5rem;
}
