.form-design-card-description {
  margin-bottom: 10px;
  margin-top: 10px;
}

.inline-radio-button {
  float: left;
  margin-top: 7px;
  width: 13px;

  &.with-text-input {
    margin-top: 14px;
  }
}

.inline-inputs {
  input,
  label {
    display: inline;
  }

  input[type='text'],
  input[type='number'] {
    margin: 0 10px;
    width: 10%;
  }
}
