.org-chart-container {
  g > g {
    cursor: pointer;
  }
}

.entity-modal {
  .info-box {
    .label.leave {
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

.org-chart-v2 {
  position: relative;

  .org-chart-body {
    border: 1px solid $border;
    position: relative;
  }

  .columns .fa {
    font-size: 14px;
  }

  .node {
    cursor: pointer;

    .fa {
      width: 50px;
    }

    polyline {
      stroke-width: 5px;
      stroke: $entity-node-bg;
    }

    .info-container {
      .entity-badge {
        fill: $badge-background-light;
      }

      .initials-text {
        text-anchor: middle;
        fill: $link-text;
        font-size: 26px;
        font-weight: 600;
      }

      .badge-circle {
        stroke: $border;
        stroke-width: 1px;
      }
    }

    .chevron-container {
      .chevron {
        fill: $main-text-light;
        font-family: FontAwesome;
        cursor: pointer;
        font-size: 20px;
      }
    }

    .info-container, .chevron-container {
      path {
        transition: fill .2s ease;
        fill: $entity-node-bg;
        stroke-width: 1px;
        stroke: $border;
      }

      tspan {
        fill: $main-text-light;

        &.name {
          fill: $main-text;
        }
      }

      &.active:hover {
        path {
          fill: $entity-node-bg-hover;
        }

        .colored-link {
          transition: fill .2s ease;
          fill: $link-text;
        }
      }
    }

    &.current {
      polyline {
        stroke: $current-entity-node-bg;
      }

      .info-container, .chevron-container {
        path {
          stroke: $current-entity-node-text-hover;
          fill: $current-entity-node-bg;
        }

        &.active:hover {
          path {
            fill: $current-entity-node-bg-hover;
          }

          .colored-link {
            transition: fill .2s ease;
            fill: $current-entity-node-text-hover;
          }
        }
      }
    }

    &.searched {
      polyline {
        stroke: $searched-node-bg;
      }

      .info-container, .chevron-container {
        path {
          stroke: $current-entity-node-text-hover;
          fill: $searched-node-bg;
        }

        &.active:hover {
          path {
            fill: $searched-node-bg-hover;
          }
        }
      }
    }
  }

  .link {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1.5px;
  }

  .button-group {
    font-size: inherit;

    input {
      display: none;
    }
  }

  .button-group input:checked + label,
  .button-group input:checked + label:active {
    color: $primary-text;
    background-color: $primary-color;
  }

  .button.profile {
    margin-bottom: 0;
  }

  .info-box {
    background-color: white;
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    box-shadow: rgba(0, 0, 0, 0.15) -1px 2px 4px;
    font-size: 14px;
    font-weight: 300;
    max-width: 700px;
    min-height: 150px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 55%;

    .label.leave {
      margin-left: 10px;
      margin-top: 10px;
      position: absolute;
    }
  }

  .search-result {
    background-color: $neutral-light;
    border-left: 1px solid $border;
    border-top: 1px solid $border;
    bottom: 0;
    color: $main-text;
    font-weight: 600;
    height: 40px;
    padding: 7px;
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 150px;
  }

  .target-node {
    height: 2.5em;
  }

  .option-modal-button {
    margin-right: 10px;
  }
}

.org-chart-datepicker .react-datepicker__input-container {
  display: block;
}

.option-modal .input {
  margin-top: 25px;
}

.tooltip-org-chart {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: none;
  font-weight: bold;
  padding: 12px;
  position: absolute;
}
