#performance-management-letter-pdf {
  font-size: 10px;
  overflow: hidden;

  >:empty { // Reduce the probability of generating unnecessary elements that will just extend the height of rendered PDF
    display: none;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
