@import '../resources/mixins';

.business-units-switch-row,
.audience-filter-switch-row {
  max-width: 1100px;
  padding-left: 40px;

  .performance-report-config-index {
    margin-top: 6px;
  }

  .columns {
    padding-right: 0;
  }

  .section-row,
  .item-row {
    margin: 10px 0 20px 0;
  }

  .switch {
    @include switch-size-legacy(.9rem, 7rem, 2rem, 1.5rem, .25rem);
    margin-top: 4px;
  }

  .grayed-out {
    color: $medium-gray;
  }
}

.pulse-frequency {
  &::after {
    color: $dark-gray;
    content: ' - Please fill in at least one of the Days, Weeks, Months, or Years fields';
    font-size: .9em;
    font-style: italic;
  }
}

#business-unit-filter-rows,
.audience-filter-rows {
  display: none;
}
