#workflow-schedule {
  margin-bottom: 1rem;
}

.workflow-table {
  td,
  th {
    vertical-align: top;
  }
}

.workflow-batch-item {
  @include callout($light-gray);
  margin-bottom: .5rem;

  .workflow-batch-item-name,
  .options,
  .option {
    @include grid-column;
  }

  input,
  .input-group,
  select,
  [type='checkbox'],
  .option {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .option {
    margin-bottom: 1rem;
  }

  &.disabled {
    .options {
      display: none;
    }
  }
}

@include breakpoint(large) {
  .workflow-batch-item {
    border-bottom: 0;
    margin: 0;

    &:nth-of-type(2n) {
      @include callout-style(darken($light-gray, 20%));
    }

    &:last-of-type {
      border: $callout-border;
    }

    .workflow-batch-item-name {
      @include grid-column-size(4);
    }

    .options {
      @include grid-column-size(8);
    }

    .option {
      margin-bottom: 0;

      &.name {
        @include grid-column-size(4);
      }

      &.send-date {
        @include grid-column-size(4);
      }

      &.method {
        @include grid-column-size(3);
      }

      &.recipient {
        @include grid-column-size(5);
      }
    }
  }
}
