@import '../sass/foundation_settings';

:local(.modalClass) {
  &.reveal {
    margin: auto;
    outline: none;
    top: auto;

    @include breakpoint(small down) {
      height: auto;
      position: initial;
    }
  }
}
