.action-bar-holder {
  display: flex;
  overflow: auto;

  .button {
    margin-right: 10px;
  }

  .button-group {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.button-row {
  display: flex;
  .button{
    margin-right: 1rem;
  }
}

.button-group .button[data-toggle$="dropdown-pane"] {
  border-right: 0 none;

  .fa-angle-down {
    margin-left: 2px;
  }
}

.button-group {
  @include button-group('.modal-button');
}
