@import '../../variables';

.checkbox-button-group {
  display: inline-flex;
  flex-direction: column;
  max-width: 900px;

  input {
    display: none;
  }

  .checkbox-button {
    align-self: stretch;
    background-color: $n100;
    border: 1px solid $n300;
    border-radius: $border-radius;
    color: $n800;
    cursor: pointer;
    font-size: $fz-small;
    line-height: $lh-small;
    margin-bottom: 8px;
    min-width: 240px;
    padding: 10px 24px 10px 44px;
    position: relative;
    transition: all .25s ease-out,color .25s ease-out;

    &:before {
      background-color: $n150;
      border: 2px solid $n400;
      border-radius: $border-radius;
      content: '';
      display: inline-block;
      height: 20px;
      left: 12px;
      position: absolute;
      top: 10px;
      transition: all .25s ease-out,color .25s ease-out;
      vertical-align: top;
      width: 20px;
    }

    &:after {
      background: $i400;
      border-radius: $border-radius;
      box-shadow:
              2px 0 0 $i400,
              4px 0 0 $i400,
              4px -2px 0 $i400,
              4px -4px 0 $i400,
              4px -6px 0 $i400,
              4px -8px 0 $i400;
      content: '';
      height: 3px;
      left: 16px;
      opacity: 0;
      position: absolute;
      top: 19px;
      transition: all .25s ease-out;
      transform: rotate(45deg);
      width: 3px;
    }

    &:hover {
      background-color: $n200;

      &:before {
        background-color: $n300;
        border-color: $n600;
      }
    }
  }

  input:checked + .checkbox-button {
    background-color: $i100;
    border-color: $i600;
    color: $i600;

    &:before {
      border-color: $i400;
    }

    &:after {
      opacity: 1;
    }

    &:hover {
      background-color: $i100;
      border-color: $i400;

      &:before {
        background-color: $i100;
        border-color: $i400;
      }
    }
  }
}

