@import '../../variables';

.form-ratings {
  @extend .button-group;
  display: inline-flex;
  flex-direction: row;
  .radio-button {
    min-width: auto;
    margin-right: 8px;
    margin-left: 0px;
    background-color: $n100;
    border: 1px solid $n300;
    border-radius: $border-radius;
    padding: 10px 20px;
    text-align: center;
    font-size: $fz-small;
    line-height: $lh-small;
    transition: all .25s ease-out,color .25s ease-out;
    &:hover, &:focus{
      background-color: $n200;
      color: $n700;
     }

    &:last-of-type {
      margin-right: 0px;
    }
  }

  input:checked + .radio-button {
    background-color: $i100;
    border:1px solid $i600;
    color: $i600;
  }

  input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  &:before, &:after {
    content: none;
  }
}

