@import '~foundation-sites/scss/foundation';
@import '../resources/mixins';
@import '../../variables';

.ihr-form,
.ihr-form-view {
  @include limit-width;

  .field-container {
    @extend .row;

    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 2em;
    }
  }

  .form-content-container {
    .label-container {
      @extend .column;
      @extend .medium-12;

      label {
        padding-bottom: 0;
        padding-top: 0;
        font-size: $global-font-size;
        line-height: $global-lineheight;
        margin-bottom: 1em;
      }
    }
  }

  // this element follows an input element
  .input-tail {
    margin-top: -.75rem;
  }
}

.ihr-form {
  .label-container {
    @include breakpoint(medium) {
      label {
        @include form-label-middle;
      }
    }

  }

  .input-container {
    @extend .column;
    @extend .medium-12;
  }

  .auto-expand-text-area {
    overflow: hidden;
  }
}

.input-group-label {
  &.disabled {
    .fa {
      color: $n400;
    }
  }
}

// a read-only view of a form - has labels and values rather than labels and inputs
.ihr-form-view {
  .label-container {
    label {
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
  }

  .value-container {
    @extend .column;
    @extend .medium-12;

    &:first-child {
      @extend .medium-offset-4;
    }
  }
}

.vertical {
  .required {
    &::after {
      color: $n400;
      content: ' - required';
      font-size: .9em;
      font-style: italic;
    }
  }
}

#tenant_logo_remove {
  margin-left: 5px;
}

input,
select,
.Select-control {
  &:hover {
    background-color: $n150;
  }
}

select {
  &:hover {
    &:focus {
      background-color: $n150;
    }
  }
}

input,
textarea,
select {
  &:disabled{
    &,
    &:hover {
      cursor: not-allowed;
      background-color: $n200;
    }
  }
}

.input-group {
  > :last-child {
    border-left: 0;
    border-radius: 0 $input-radius $input-radius 0;
  }
}

.form-error {
  font-weight: 600;
}

input.is-invalid-input:focus {
  border-color: $r300;
}

.select2 {
  margin: 0 0 1rem;

  .select2-selection {
    border: 1px solid $n400;
    height: 2.4375rem;

    &:focus {
      outline: none;
      border: 1px solid $i400;
      transition: border-color 0.3s ease-in-out, background-color 0.3s ease;
    }

    &:hover {
      background-color: $n200;
    }
  }

  .selection {
    .select2-selection__rendered {
      line-height: 1.5;
      padding: 8px 24px 8px 8px;
      color: $n700;
    }

    .select2-selection__arrow {
      height: 24px;
      margin-top: 7px;
      margin-right: 2px;

      b {
        border-color: $n700 transparent transparent transparent;
      }
    }
  }
}

.select2-dropdown {
  .select2-results__option {
    color: $n600;

    &.select2-results__option[aria-selected=true] {
      background-color: $n200;
      color: $n700;
    }

    &.select2-results__option--highlighted[aria-selected] {
      background-color: $i100;
      color: $n700;
    }
  }
}
