.ihr-nav,
.ihr-nav-right {
  a {
    color: $sidebar-text;
    margin-left: 3px;
    white-space: nowrap;

    &:hover {
      background-color: $neutral;
      border-left: 3px solid $neutral;
      margin-left: 0;
    }

    &.active {
      border-left: 3px solid $primary;
      color: $primary;
      font-weight: 600;
      margin-left: 0;
    }
  }

  li {
    &:not(.menu-text) > a {
      padding: 1rem;
    }

    &.is-accordion-submenu-parent {
      > a {
        position: relative;

        &::after {
          content: '\e920';
          display: inline-block;
          font-family: 'intellihr';
          position: absolute;
          right: 1rem;
        }
      }

      &[aria-expanded='true'] {
        > a {
          font-weight: 600;

          &::after {
            font-weight: initial;
            transform: rotate(180deg);
          }
        }
      }
    }

    &.is-accordion-submenu-item {
      a {
        padding-left: 2.8rem;
      }
    }

  }

  .menu-logo {
    text-align: center;

    a {
      margin: 0;

      &:hover {
        background-color: inherit;
        border: 0;
      }
    }
  }

  ul {
    &.is-accordion-submenu {
      &.nested {
        margin-left: 0;
      }
    }
  }
}
