@import '../../variables';

.radio-button-group {
  @extend .button-group;

  .button {
    background-color: $n300;
    color: $n700;
    border-left: none;
  }

  input {
    display: none;
  }

  input:checked + .button {
    background-color: $i400;
    color: $n100;
  }

  .button:hover {
    background-color: $n400;
  }
}
