@import '~foundation-sites/scss/foundation';
@import '../../variables';

$ihrImageHeaderHeight: 30px;

.title-bar {
  &.mobile {
    background: $n200;
    height: 48px;

    button {
      color: $n700;
    }

    .menu > li {
      height: 48px;

      > button {
        width: 48px;
        height: 48px;
        outline: none;

        &:hover {
          cursor: pointer;
        }
      }
      > a {
        line-height: 48px;
        padding: 0 7px 0 7px;
        color: $n700;

        > img {
          margin-right: 0;
        }
      }
      > a:hover,
      > a:focus,
      > button:hover,
      > button:focus {
        background-color: $n300;
      }
      &.menu-logo {
        > a > img {
          height: $ihrImageHeaderHeight;
        }
        > a:hover,
        > a:focus {
          background-color: $n200;
        }
      }

      @include breakpoint(large up) {
        &.menu-logo > a {
          padding: 9px 0;
        }
      }
    }
  }

  .menu {
    .menu-logo {
      > a > img {
        height: $ihrImageHeaderHeight;
      }
    }
  }
}

.menu > li > a > span {
  vertical-align: top;
}
