:local(.input) {
  &[type='text'], &[type='password'], &[type='date'], &[type='email'], &[type='number'], &[type='url'] {
    margin: 0;
  }

  &.input-group-left {
    border-radius: 4px 0 0 4px;
  }

  &.input-group-middle {
    border-radius: 0;
  }

  &.input-group-right {
    border-radius: 0 4px 4px 0;
  }
}
