:local(.AttributeLabel) {
  &.neutral {
    background-color: $neutral-base;
    color: $main-text;
  }

  &.warning {
    &.hollow {
      color: $main-text;
    }
  }

  &.medium {
    font-size: 14px;
  }

  &.large {
    font-size: 15px;
    padding: 4px 15px;
  }
}
