@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

$styleValues: (
  background-color: transparent,
  border: transparent,
  text-color: $alert-base,
  disabled-background-color: transparent,
  disabled-text-color: $alert-base,
  hover-background-color: $alert-base,
  hover-text-color: $alert-text,
  active-background-color: $alert-active,
  active-text-color: $alert-hover-text
);

@mixin add-button-style ($style) {
  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: map-get($style, disabled-background-color);
    color: map-get($style, disabled-text-color);
    cursor: not-allowed;
    opacity: .3;

    &:focus,
    &:hover {
      background-color: map-get($style, disabled-background-color);
      color: map-get($style, disabled-text-color);
    }
  }

  background-color: map-get($style, background-color);
  border-color: map-get($style, border);
  color: map-get($style, text-color);

  &:focus,
  &:hover,
  &.hover {
    background-color: map-get($style, hover-background-color);
    color: map-get($style, hover-text-color);

    @if map-has-key($style, hover-border-color) {
      border-color: map-get($style, hover-border-color);
    }
  }

  &:active,
  &.active {
    background-color: map-get($style, active-background-color);
    color: map-get($style, active-text-color);
  }
}

:local(.Comment) {
  display: flex;
  flex-flow: row;
  margin: 1.125rem 0;

  >.comment-badge-container {
    align-self: flex-start;
    padding: .5rem;
  }

  >.comment-content-container {
    align-self: stretch;
    background-color: $neutral-light;
    border-radius: .75rem;
    flex-grow: 1;
    padding: .85rem 1.2rem;

    &.secondary {
      background-color: #fff8dc;
    }

    &.logged-in-user {
      background-color: tint($secondary-base, 95%);
    }

    >.comment-header-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;

      >.comment-header-date {
        font-size: 80%;
        margin-left: .4rem;

        >* {
          display: inline;
          margin: 0 .225rem;
        }
      }

      // This will select the 'as at date' or 'comment header' in case of the system comment
      >*:nth-child(2) {
        flex-grow: 1;
      }
    }

    >.comment-content {
      margin-top: .5rem;
    }
  }

  /*
    Very, very, very dirty hack.
    Due to 'react-dd-menu' and 'DropdownPane' rewriting the styles for alert button,
      this hack is present here.
    The style variable and the mixin at the top are part of this too.
    Judge me not... :'(
  */
  >.comment-content-container {
    >.comment-header-container {
      >.comment-action-menu {
        >div {
          >.dd-menu-items {
            >ul {
              >li {
                >.comment-action-button {
                  margin: 0;
                  font-style: normal;
                  font-weight: normal;
                  text-transform: capitalize;

                  &.alert-borderless {
                    @include add-button-style($styleValues);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
