@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

:local(.Comment) {
  display: flex;
  flex-flow: row;
  margin: 1.125rem 0;

  >.comment-badge-container {
    align-self: flex-start;
    padding: .5rem;
  }

  >.comment-content-container {
    align-self: stretch;
    background-color: $neutral-light;
    border-radius: .75rem;
    flex-grow: 1;
    padding: .85rem 1.2rem;

    &.secondary {
      background-color: #fff8dc;
    }

    &.logged-in-user {
      background-color: tint($secondary-base, 95%);
    }

    >.comment-header-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: baseline;

      >.comment-header-date {
        font-size: 80%;
        margin-left: .4rem;

        >* {
          display: inline;
          margin: 0 .225rem;
        }
      }

      // This will select the 'as at date' or 'comment header' in case of the system comment
      >*:nth-child(2) {
        &.comment-header,
        &.comment-header-date {
          flex-grow: 1;
        }
      }
      // Placing the 'as at date' to a new line if `comment header` is present
      >*:nth-child(3) {
        &.comment-header-date {
          width: 100%;
          margin-left: -.15rem;
        }
      }
    }

    >.comment-content {
      margin-top: .5rem;
    }
  }
}
