:local(.table)  {
  .row-enter {
    opacity: 0;
  }
  .row-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .row-exit {
    opacity: 1;
  }
  .row-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}
