:local(.ListClickableColumns) {
  &:focus,
  & *:focus {
    outline: 0;
  }

  &:hover {
    :not(.label) {
      &.cell {
        &:first-child {
          color: $link-text;
        }
      }

      &.cell-label {
        color: $link-text;
      }
    }

    .label {
      cursor: pointer;
    }
  }

  &,
  .modal-button,
  .modal-trigger {
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 100%;
  }
}
