:local(.DotStatusLabel) {
  font-size: .9375rem;
  font-weight: normal;
  vertical-align: bottom;

  .fa {
    bottom: 2px;
    font-size: xx-small;
    position: relative;
  }

  .subtitle {
    font-size: .8125rem;
    padding-left: 15px;
  }

  @each $color, $value in $functional-colours {
    &.#{$color} {
      color: map-get($value, base)
    }
  }
}
