@import '../../../common/sass/variables';

:local(.StatusIndicator) {
  font-size: .9375rem;
  font-weight: normal;
  vertical-align: bottom;

  .fa {
    bottom: 2px;
    font-size: xx-small;
    margin-right: 3px;
    position: relative;
  }

  .subtitle {
    display: block;
    padding-left: 15px;
  }
}
