@import '../../../common/sass/variables';

:local(.StatusIndicator) {
  font-size: $fz-body;
  font-weight: normal;
  vertical-align: bottom;

  .fa {
    bottom: 2px;
    font-size: $fz-xsmall;
    margin-right: .5rem;
    position: relative;
  }

  .subtitle {
    display: block;
    padding-left: 1rem;
  }
}
