.email,
.phone {
  .fa {
    &::before {
      vertical-align: middle;
    }
  }
}

.avatar {
  margin-right: 0.1875rem;

  &::before {
    vertical-align: middle;
    font-size: 22px;
  }
}

.icon-right {
  // see _font-awesome.scss
  margin-left: rem-calc(3);
  margin-right: 0;
}
