//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Responsive Embed
//  29. Reveal
//  30. Slider
//  31. Switch
//  32. Table
//  33. Tabs
//  34. Thumbnail
//  35. Title Bar
//  36. Tooltip
//  37. Top Bar

@import 'util/util';

// 0. UI-Components globals
// ---------
@import './globals_foundation.scss';

// 1. Global
// ---------

$global-font-size: 1rem;
$global-width: rem-calc(1920);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  alert: $alert,
);
$light-gray: $foundation-light-grey;
$medium-gray: $foundation-mid-grey;
$dark-gray: $foundation-dark-grey;
$black: $foundation-black;
$white: $foundation-white;

$body-background: $main-background;
$body-font-color: $main-text;
$body-font-family: 'Open Sans', Arial, sans-serif;
$body-antialiased: true;

$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

@include add-foundation-colors;

// 2. Breakpoints
// --------------

/*
  foundation breakpoints define the minimum screen width for that value
  eg. given the following values: medium = 640 and large = 1024
      the medium breakpoint will be a range from 640 to 1023
 */
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 16,
  medium: 24
);
$grid-column-align-edge: true;
$grid-column-alias: 'columns';
$block-grid-max: 8;

// XY grid
$xy-grid: true;
$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
  small: 16,
  medium: 24
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;

// 4. Base Typography
// ------------------

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-normal;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-color: $heading;
$header-lineheight: 1.25rem;
$header-margin-bottom: .5rem;
$header-styles: (
  small: (
    'h1': ('font-size': 2.25rem   ),
    'h2': ('font-size': 2rem      ),
    'h3': ('font-size': 1.8125rem ),
    'h4': ('font-size': 1.625rem  ),
    'h5': ('font-size': 1.4375rem ),
    'h6': ('font-size': 1rem      , 'letter-spacing': 1px, 'text-transform': uppercase)
  )
);
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $dark-gray; // was $medium-gray
$paragraph-lineheight: 1.5;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$anchor-color: $link-text;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $foundation-light-grey;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: .3rem;
$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;
$cite-pseudo-content: '\2014 \0020';
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 5. Typography Helpers
// ---------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: .2rem;
$subheader-margin-bottom: .5rem;
$stat-font-size: 2.5rem;

// 6. Abide
// --------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: $alert-color;
$form-label-color-invalid: $alert-color;
$input-error-color: $alert-color;
$input-error-font-size: rem-calc(12);
$input-error-font-weight: $global-weight-bold;

// 7. Accordion
// ------------

$accordion-background: $white;
$accordion-plusminus: true;
$accordion-title-font-size: rem-calc(12);
$accordion-item-color: $primary-color;
$accordion-item-background-hover: $primary-color;
$accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $light-gray;
$accordion-content-color: $body-font-color;
$accordion-content-padding: 1rem;

// 8. Accordion Menu
// -----------------

$accordionmenu-arrows: false;
$accordionmenu-arrow-color: $sidebar-text;
$accordionmenu-arrow-size: 6px;

// 9. Badge
// --------

$badge-background: $badge-background-light;
$badge-color: $link-text;
$badge-color-alt: $black;
$badge-palette: $foundation-palette;
$badge-padding: .3em;
$badge-minwidth: 2.1em;
$badge-font-size: .6rem;

// 10. Breadcrumbs
// ---------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: .8125rem;
$breadcrumbs-item-color: $link-text;
$breadcrumbs-item-color-current: $main-text;
$breadcrumbs-item-color-disabled: $main-text-light;
$breadcrumbs-item-margin: .75rem;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-slash: true;
$breadcrumbs-item-slash-color: $main-text-light;

// 11. Button
// ----------

$button-padding: .85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $button-text;
$button-color-alt: $button-text-alt;
$button-radius: $global-radius;
$button-hollow-border-width: 1px;
$button-clear-border-width: 1px;
$button-sizes: (
  tiny: .6rem,
  small: .75rem,
  default: .9rem,
  large: 1.25rem,
);
$button-palette: $foundation-palette;
$button-opacity-disabled: .25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: -50%;
$button-clear-hover-lightness: -50%;
$button-transition: background-color .25s ease-out, color .25s ease-out;

// 12. Button Group
// ----------------

$buttongroup-margin: 1rem;
$buttongroup-spacing: 1px;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;
$buttongroup-radius-on-each: true;

// 13. Callout
// -----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-border: 1px solid $border;
$callout-margin: 0 0 1rem 0;
$callout-padding: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;

// 14. Card
// --------

$card-background: $white;
$card-font-color: $body-font-color;
$card-divider-background: $light-gray;
$card-border: 1px solid $light-gray;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;
$card-margin-bottom: $global-margin;

// 15. Close Button
// ----------------

$closebutton-position: right top;
$closebutton-offset-horizontal: 1rem;
$closebutton-offset-vertical: .5rem;
$closebutton-size: 2em;
$closebutton-lineheight: 1;
$closebutton-color: $dark-gray;
$closebutton-color-hover: $black;

// 16. Drilldown
// -------------

$drilldown-transition: transform .15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $anchor-color;
$drilldown-arrow-size: 6px;
$drilldown-background: $white;

// 17. Dropdown
// ------------

$dropdown-padding: 1rem;
$dropdown-background: $body-background;
$dropdown-border: 1px solid $medium-gray;
$dropdown-font-size: 1rem;
$dropdown-width: 300px;
$dropdown-radius: $global-radius;
$dropdown-sizes: (
  tiny: 100px,
  small: 200px,
  large: 400px,
);

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrows: false;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-min-width: 200px;
$dropdownmenu-border: none;
$dropdownmenu-arrow-color: $sidebar-text;
$dropdownmenu-background: $sidebar;

// 19. Forms
// ---------

$fieldset-border: 1px solid $medium-gray;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$helptext-color: $main-text;
$helptext-font-size: .6875rem;
$helptext-font-style: normal;
$input-prefix-color: $main-text;
$input-prefix-background: $neutral;
$input-prefix-border: 1px solid $border;
$input-prefix-padding: 1rem;
$form-label-color: $main-text;
$form-label-font-size: .9375rem;
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 2.5;
$select-background: $white;
$select-triangle-color: $main-text;
$select-radius: $global-radius;
$input-color: $main-text;
$input-placeholder-color: $border;
$input-font-family: $body-font-family;
$input-font-size: 1rem;
$input-font-weight: $global-weight-normal;
$input-background: $white;
$input-background-focus: $white;
$input-background-disabled: $neutral;
$input-border: 1px solid $border;
$input-border-focus: 1px solid $primary;
$input-shadow: none;
$input-shadow-focus: none;
$input-cursor-disabled: default;
$input-transition: border-color .3s ease-in-out, background-color .3s ease;
$input-number-spinners: true;
$input-radius: $global-radius;
$form-button-radius: $global-radius;

// 20. Label
// ---------

$label-background: $primary-color;
$label-color: $white;
$label-color-alt: $white;
$label-palette: $foundation-palette;
$label-font-size: .8rem;
$label-padding: .33333rem .5rem;
$label-radius: $global-radius;

// 21. Media Object
// ----------------

$mediaobject-margin-bottom: $global-margin;
$mediaobject-section-padding: $global-padding;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 0;
$menu-item-padding: .7rem 1rem;
$menu-icon-spacing: .25rem;
$menu-expand-max: 6;
$menu-border: $light-gray;
$menu-item-color-active: $secondary;
$menu-item-background-active: $sidebar;
$menu-item-background-hover: $primary;

// 23. Meter
// ---------

$meter-height: 1rem;
$meter-radius: $global-radius;
$meter-background: $medium-gray;
$meter-fill-good: $success-color;
$meter-fill-medium: $warning-color;
$meter-fill-bad: $alert-color;

// 24. Off-canvas
// --------------

$offcanvas-push-zindex: 1;
$offcanvas-overlap-zindex: 10;
$offcanvas-reveal-zindex: 1;
$offcanvas-zindex: -1;
$offcanvas-transition-length: .5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: false; // true
$offcanvas-exit-background: rgba($white, .25);
$offcanvas-background: $sidebar;
$offcanvas-shadow: 0;
$maincontent-class: 'off-canvas-content';
$maincontent-shadow: 0 0 10px rgba($black, .5);
$offcanvas-inner-shadow-color: rgba($black, .1);

// 25. Orbit
// ---------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: .1rem;
$orbit-bullet-margin-top: .8rem;
$orbit-bullet-margin-bottom: .8rem;
$orbit-caption-background: rgba($black, .5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, .5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 26. Pagination
// --------------

$pagination-font-size: rem-calc(14);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $black;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: $light-gray;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-mobile-current-item: false;
$pagination-arrows: true;

// 27. Progress Bar
// ----------------

$progress-height: 1rem;
$progress-background: $medium-gray;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// 28. Responsive Embed
// --------------------

$responsive-embed-padding-top: rem-calc(25);
$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (
  default: 4 by 3,
  widescreen: 16 by 9,
);

// 29. Reveal
// ----------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-offset: rem-calc(100);
$reveal-padding: $global-padding;
$reveal-border: 1px solid $medium-gray;
$reveal-radius: $global-radius;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, .45);

// 30. Slider
// ----------

$slider-width-vertical: .5rem;
$slider-transition: all .2s ease-in-out;
$slider-height: .5rem;
$slider-width-vertical: $slider-height;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: .25;
$slider-radius: $global-radius;
$slider-transition: all .2s ease-in-out;

// 31. Switch
// ----------

$switch-background: $medium-gray;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: .25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all .25s ease-out;

// 32. Table
// ---------

$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-is-striped: false;
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: smart-scale($table-background, $table-color-scale / 2);
$table-head-row-hover: darken($table-head-background, $table-hover-scale);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);
$table-head-font-color: $body-font-color;
$table-foot-font-color: $body-font-color;
$show-header-for-stacked: false;

// 33. Tabs
// --------

$tab-margin: 0;
$tab-background: $main-background;
$tab-color: $main-background;
$tab-background-active: $main-background;
$tab-active-color: $primary-color;
$tab-item-font-size: 1rem;
$tab-border: $main-background;
$tab-item-color: $primary;
$tab-item-background-hover: $white;
$tab-item-padding: 1.25rem 1.5rem;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border: $light-gray;
$tab-content-color: $body-font-color;
$tab-content-padding: 1rem;

// 34. Thumbnail
// -------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, .2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, .5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 35. Title Bar
// -------------

$titlebar-padding: 0; // .5rem
$titlebar-text-font-weight: bold;
$titlebar-background: $sidebar;
$titlebar-color: $sidebar-text;
$titlebar-icon-color: $sidebar-text;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: .25rem;

// 36. Tooltip
// -----------

$has-tip-cursor: pointer;
$has-tip-font-weight: $global-weight-bold;
$has-tip-border-bottom: 0;
$tooltip-background-color: $dark-gray;
$tooltip-color: $white;
$tooltip-padding: .75rem;
$tooltip-max-width: 10rem;
$tooltip-font-size: $small-font-size;
$tooltip-pip-width: .5rem;
$tooltip-pip-height: $tooltip-pip-width * .866;
$tooltip-pip-offset: .25rem;
$tooltip-radius: $global-radius;

// 37. Top Bar
// -----------

$topbar-padding: .5rem;
$topbar-background: $light-gray;
$topbar-submenu-background: $topbar-background;
$topbar-link-color: $primary-color;
$topbar-title-spacing: .5rem 1rem .5rem 0;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;
