// ------------------------------------------------------------------------------------
// The following variables are the core design variables for the entire design system
//
// When updating this file, ALWAYS update common/sass/variables.ts at the same time.
// ------------------------------------------------------------------------------------

// --------------
// Breakpoints
// --------------
$breakpoint-min:          0;
$breakpoint-tablet:       640px;
$breakpoint-desktop:      1034px;
$breakpoint-big-desktop:  1440px;

// --------------
// Colors
// --------------
// Neutral
$n100: #FFFFFF;
$n150: #FAFBFC;
$n200: #F5F7FA;
$n250: #EDF1F5;
$n300: #E1E6EB;
$n400: #C5CED6;
$n500: #8FA1B3;
$n600: #667380;
$n700: #424F5C;
$n800: #262D33;

// Blue
$b100: #EDF4FF;
$b200: #CADDFC;
$b300: #739FE6;
$b400: #0F68FA;
$b500: #0053D9;
$b600: #00368C;

// Cyan
$c100: #EDFCFF;
$c200: #C8F2FA;
$c300: #A2EBFA;
$c400: #61DAF2;
$c500: #4DACBF;
$c600: #32707D;

// Green
$g100: #F1FFED;
$g200: #CBF2C2;
$g300: #9CE68A;
$g400: #65D747;
$g500: #4DA637;
$g600: #2F6622;

// Indigo
$i100: #EFEDFF;
$i200: #CEC8FA;
$i300: #7362F5;
$i400: #432DF3;
$i500: #2512B3;
$i600: #0F0080;

// Orange
$o100: #FFF9ED;
$o200: #FFEABF;
$o300: #FFD580;
$o400: #FFC145;
$o500: #BF8000;
$o600: #7F5500;

// Red
$r100: #FFF1F0;
$r200: #FFD2CC;
$r300: #FF8A80;
$r400: #F25749;
$r500: #D41200;
$r600: #B30F00;

// Yellow
$y100: #FFFDED;
$y200: #FFF7BF;
$y300: #FFEC73;
$y400: #FFE226;
$y500: #BFA91C;
$y600: #7F7012;

// --------------
// Font Sizes
// --------------
$fz-xsmall:               12px;
$fz-small:                14px;
$fz-body:                 16px;
$fz-heading:              18px;
$fz-display:              24px;
$fz-display-large:        36px;

// --------------
// Font Weights
// --------------
$fw-normal:              400;
$fw-heavy:               600;
$fw-chonky:              700;

// --------------
// Layout
// --------------
$layout-2xsmall:          16px;
$layout-xsmall:           24px;
$layout-small:            32px;
$layout-medium:           40px;
$layout-large:            64px;
$layout-xlarge:           80px;
$layout-2xlarge:         120px;

// --------------
// Line Heights
// --------------
$lh-xsmall:               18px;
$lh-small:                20px;
$lh-body:                 24px;
$lh-heading:              24px;
$lh-display:              32px;
$lh-display-large:        44px;

// --------------
// Spacing
// --------------
$spacing-3xsmall:          2px;
$spacing-2xsmall:          4px;
$spacing-xsmall:           8px;
$spacing-small:           12px;
$spacing-medium:          16px;
$spacing-large:           24px;
$spacing-xlarge:          32px;
$spacing-2xlarge:         40px;
$spacing-3xlarge:         48px;

// --------------
// Style
// --------------
$border-radius:           4px;

// --------------
// Z Indexes
// --------------
$z-index-absolute-bottom: -9999;
$z-index-default:         0;
$z-index-modal:           1000;
$z-index-date-input:      2000;
$z-index-dropdown-menu:   3000;
$z-index-toaster:         4000;
$z-index-absolute-top:    9999;
