@import '../../../common/sass/variables';

@mixin sorting-cursor($icon, $color) {
  &::before {
    color: $color;
    content: $icon;
    font-family: FontAwesome;
    font-size: 17px;
    font-weight: normal;
    margin-right: 10px;
    position: relative;
  }
}

:local(.DataTable) {
  border: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;

  .rt-table {
    align-items: stretch;
    border-collapse: collapse;
    display: flex;
    flex: auto 1;
    flex-direction: column;
    width: 100%;
  }

  .rt-thead {
    background: $n200;
    border-bottom: 2px solid $n400;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    font-weight: 600;
    user-select: none;

    &.-filters {
      border-bottom: 1px solid $n300;

      .rt-th {
        input {
          margin-bottom: 0;
        }
      }
    }

    &.-headerGroups {
      background: $n200;
      border-bottom: 2px solid $n300;
    }

    .rt-th,
    .rt-td {
      box-shadow: inset 0 0 0 0 transparent;
      line-height: normal;
      padding: .5rem .625rem .625rem;
      transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1.275);

      &.-cursor-pointer {
        cursor: pointer;
      }
    }

    .rt-th {
      line-height: 1.5;
      outline: none;
      text-align: left;

      &.content-right {
        text-align: right;
      }

      &.content-center {
        text-align: center;
      }

      // Signifies sortable headers
      &.-cursor-pointer {
        @include sorting-cursor('\f0dc', $n800);

        cursor: pointer;

        &.-sort-asc {
          @include sorting-cursor('\f0de', $i400);
        }

        &.-sort-desc {
          @include sorting-cursor('\f0dd', $i400);
        }

        div {
          display: inline;
        }
      }
    }

    .rt-resizable-header {
      overflow: visible;

      &:last-child {
        overflow: hidden;
      }
    }

    .rt-resizable-header-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .rt-header-pivot {
      border-right-color: $n300;

      &::after {
        border: 8px rgba(255, 255, 255, 0);
        border-left-color: $n100;
        margin-top: -8px;
      }

      &::before {
        border: 10px rgba(102, 102, 102, 0);
        border-left-color: $n300;
        margin-top: -10px;
      }

      &::after,
      &::before {
        border: solid transparent;
        content: ' ';
        height: 0;
        left: 100%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        width: 0;
      }
    }
  }

  &.show-vertical-lines {
    .rt-th,
    .rt-td {
      border-right: solid 1px $n300;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .rt-tbody {
    display: flex;
    flex: 99999 1 auto;
    flex-direction: column;

    .rt-tr-group {
      align-items: stretch;
      border-bottom: solid 1px $n300;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;

      &:last-child {
        border-bottom: 0;
      }
    }

    .rt-expandable {
      cursor: pointer;
      text-overflow: clip;
    }
  }

  .rt-tr {
    display: inline-flex;
    flex: 1 0 auto;
  }

  .rt-td {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: .5rem .625rem .625rem;

    &.content-right {
      flex-direction: row-reverse;
    }

    &.content-center {
      flex-direction: column;
    }
  }

  .rt-th,
  .rt-td {
    flex: 1 0 0;
    text-overflow: ellipsis;
    transition: .3s ease;
    transition-property: width, min-width, padding, opacity;

    &.-hidden {
      border: 0;
      min-width: 0;
      opacity: 0;
      padding: 0;
      width: 0;
    }
  }

  .rt-expander {
    color: transparent;
    display: inline-block;
    margin: 0 10px;
    position: relative;

    &::after {
      border-left: 5.04px solid transparent;
      border-right: 5.04px solid transparent;
      border-top: 7px solid $n300;
      content: '';
      cursor: pointer;
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      transition: width, height .3s cubic-bezier(.175, .885, .32, 1.275);
      width: 0;
    }

    &.-open {
      ::after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }

  .rt-resizer {
    bottom: 0;
    cursor: col-resize;
    display: inline-block;
    position: absolute;
    right: -18px;
    top: 0;
    width: 36px;
    z-index: 10;
  }

  .rt-tfoot {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  .page-details {
    color: $n600;
    font-size: $fz-small;
  }

  .pagination-top {
    .-pagination {
      margin-bottom: 10px;

      .page-details {
        display: none;
      }
    }
  }

  .pagination-bottom {
    .-pagination {
      border-top: solid 1px $n300;
      padding-top: $spacing-medium;

      .search-filter,
      .page-size-options {
        display: none;
      }
    }
  }

  .-pagination {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
    z-index: 1;

    .search-filter {
      display: flex;
      margin-right: 20px;

      input {
        margin: 0 0 0 5px;
        width: auto;
      }
    }

    .page-size-options {
      flex: 3 0 auto;

      select {
        display: inline-block;
        margin: 0;
        width: 75px;
      }
    }

    .page-navigation {
      align-items: center;
      display: flex;
      height: 100%;
    }

    .ellipsis {
      color: $n800;
      cursor: not-allowed;
      padding: .1875rem .5rem;
    }

    .-previous,
    .-next {
      flex: 1;
    }

    .-center {
      align-items: center;
      display: flex;
      flex: 1.5;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 0;
      text-align: center;
    }

    .-btn {
      background: transparent;
      border: 0;
      border-radius: 13px;
      color: $n800;
      cursor: pointer;
      display: block;
      font-size: .875rem;
      height: 26px;
      margin-left: $spacing-2xsmall;
      margin-right: 1px;
      margin-right: $spacing-2xsmall;
      min-width: 26px;
      outline: none;
      padding: 0 $spacing-xsmall;
      transition: color, background-color .1s ease;

      &:not([disabled]) {
        &:hover,
        &:focus {
          background-color: $n300;
        }
      }

      &[disabled] {
        background-color: transparent;
        color: $n400;
        cursor: not-allowed;
      }

      &.current {
        background-color: $i400;
        color: $n100;

        &:hover,
        &:focus {
          background-color: $i400;
          color: $n100;
          cursor: default;
        }
      }
    }
  }

  .rt-resizing {
    .rt-th,
    .rt-td {
      cursor: col-resize;
      transition: none;
      user-select: none;
    }
  }


  .-loading {
    background: $n150;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity, width, height .3s ease;
    z-index: -1;

    > div {
      color: $n700;
      display: block;
      font-size: 15px;
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transition: height, width .3s cubic-bezier(.25, .46, .45, .94);
      width: 100%;
    }

    &.-active {
      opacity: 1;
      pointer-events: all;
      z-index: 2;
    }
  }

  .-loading {
      background: rgba(255,255,255,0.85);
      pointer-events: none;
      transition: all .3s ease;
  }

  .-loading > div {
      color: rgba(0,0,0,0.6);
      display: block;
      font-size: $fz-small;
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transition: all .15s cubic-bezier(.25,.46,.45,.94);
      width: 100%
  }
  
  .-loading.-active {
      opacity: 1;
      pointer-events: all;
      z-index: 2;
  }

  .loading-title {
    color: $i400;
  }
}
