@import '~foundation-sites/scss/settings/settings';
@import 'foundation';

$callouts: (
  neutral:       (background: $neutral-light,                border: $border,         color: $main-text,                title: $main-text),
  info:          (background: lighten($secondary, 44%),      border: $secondary,      color: $main-text,                title: $main-text),
  success:       (background: lighten($success, 51%),        border: $success,        color: $main-text,                title: $main-text),
  warning:       (background: lighten($warning, 34%),        border: $warning,        color: $main-text,                title: $main-text),
  error:         (background: lighten($alert, 33%),          border: $alert,          color: darken($alert, 16%),       title: darken($alert, 16%)),
  no-data:       (background: lighten($neutral-light, 0.5%), border: $neutral-light,  color: $main-text-light,          title: $main-text),
  preview-mode:  (background: $neutral-light,                border: $neutral-light,  color: lighten($main-text, 20%),  title: $main-text)
);

@mixin add-callout ($background, $border, $color, $title) {
  background-color: $background;
  border-color: $border;
  color: $color;
}

.callout {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > * {
    flex: 0 0 100%;
  }

  /// HACK: For existing callouts within templates
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .content {
    flex-grow: 1;

    .title {
      font-size: 1.1rem;
      font-weight: 600;
      color: inherit;
    }

    .action-list {
      margin-top: 50px;
    }
  }

  .actions {
    padding-top: .4rem;

    > a {
      padding: .85em 1em;
      text-transform: uppercase;

      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  .close {
    align-items: stretch;
    flex: 0;
    padding: 0 16px;
  }

  @each $type, $attributes  in $callouts {
    @if $type == 'neutral' {
      @include add-callout($attributes...);
    } @else {
      &.#{$type} {
        @include add-callout($attributes...);
      }
    }
  }

  &.no-data {
    border-width: 0;
    text-align: center;
    padding: 50px;
  }

  &.justify-center {
    text-align: left;
    justify-content: center;

    .content {
      max-width: 600px;
    }
  }

  // Form preview, etc
  &.preview-mode {
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    @extend .small!optional;
  }

}
