@import '../../../common/sass/variables';

:local(.singleDatePickerOverrides) {
  .SingleDatePicker_picker {
    // NOTE: the order of these styles DO matter
    .CalendarMonth_caption {
      > strong {
        color: $n800;
        font-size: $fz-heading;
        font-weight: 600;
      }
    }

    .CalendarDay {
      &:hover {
        background: $n250;
      }
    }

    // Will edit everything selected including everything between a range of dates
    .CalendarDay__selected_span {
      background: $i400; //background
      border: 1px solid $i400; //text
      color: $n100; //default styles include a border
    }

    // Will edit selected date or the endpoints of a range of dates
    .CalendarDay__selected {
      background: $i400;
      color: $n100;

      // Will edit when hovered over. _span style also has this property
      &:hover {
        background: $i400;
        color: $n100;
      }
    }

    .DayPickerNavigation_button__horizontalDefault {
      padding: 9px;
    }
  }

  .SingleDatePickerInput__disabled {
    background: none;
  }

  .DateInput__disabled {
    background: none;
  }

  .DateInput_fang {
    top: 56px !important; // sass-lint:disable-line no-important
  }

  .DateInput_input {
    border: 1px solid $n400;
    border-radius: $border-radius;
    color: $n700;
    font-size: $fz-body;
    font-weight: $fw-normal;
    line-height: 1.5;
    padding: .5rem;
    transition: border-color .3s ease-in-out, background-color .3s ease;

    &:hover {
      background-color: $n150;
    }
  }

  &.is-invalid-input {
    &:not(:focus) {
      background-color: transparent;
    }

    input {
      border-color: $r400;
      margin: 0;

      &:not(:focus) {
        background-color: mix($r400, #fff, 10%);

        &::placeholder {
          color: $r400;
        }
      }
    }
  }

  &.input-group-left {
    input {
      border-radius: 4px 0 0 4px;
    }
  }

  &.input-group-middle {
    input {
      border-radius: 0;
    }
  }

  &.input-group-right {
    input {
      border-radius: 0 4px 4px 0;
    }
  }
}
