@import '../../../common/sass/variables';

:local(.singleDatePickerOverrides) {
  // NOTE: the order of these styles DO matter
  .CalendarMonth_caption {
    > strong {
      font-size: $fz-heading;
      font-weight: 600;
      color: $n800;
    }
  }

  .CalendarDay:hover {
    background: $n400;
  }

  // Will edit everything selected including everything between a range of dates
  .CalendarDay__selected_span {
    background: $i400; //background
    color: $n100; //text
    border: 1px solid $i400; //default styles include a border
  }

  // Will edit selected date or the endpoints of a range of dates
  .CalendarDay__selected {
    background: $i400;
    color: $n100;
  }

  // Will edit when hovered over. _span style also has this property
  .CalendarDay__selected:hover {
    background: $i400;
    color: $n100;
  }

  .DayPickerNavigation_button__horizontalDefault {
    padding: 9px;
  }

  .DateInput_fang {
    top: 56px !important;
  }

  .DateInput_input {
    padding: 0.5rem;
    border: 1px solid $n400;
    border-radius: $border-radius;
    font-size: $fz-body;
    line-height: 1.5;
    color: $n700;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease;

    &:hover {
      background-color: $n150;
    }
  }

  &.is-invalid-input {
    input {
      margin: 0;
      border-color: #F25749;

      &:not(:focus) {
        background-color: #feeeed;
      }
    }
  }
}
