@import '../../../common/sass/variables';

$status-dot-styles: (
  primary: (
    background-color: $i400
  ),
  secondary: (
    background-color: $b400
  ),
  success: (
    background-color: $g400
  ),
  warning: (
    background-color: $o400
  ),
  alert: (
    background-color: $r400
  ),
  neutral: (
    background-color: $n500
  ),
  highlight: (
    background-color: $c400
  )
);

@mixin status-dot-color($style) {
  background: map-get($style, background-color);
  border: 2px solid $n100;
}

:local(.Avatar) {
  display: inline-block;
  position: relative;

  >.status-dot {
    border-radius: 50%;
    position: absolute;

    @each $color, $value in $status-dot-styles {
      &.#{$color} {
        @include status-dot-color($value);
      }
    }
  }

  >.icon {
    bottom: -2px;
    font-size: 14px;
    position: absolute;
    right: 0;
  }

  &.avatar-small {
    font-size: .8rem;
    height: 30px;
    width: 30px;

    >.status-dot {
      bottom: -.1rem;
      left: -.2rem;
      padding: 4px;
    }
  }

  &.avatar-medium {
    font-size: 1rem;
    height: 40px;
    width: 40px;

    >.status-dot {
      bottom: -1px;
      left: -1px;
      padding: 4px;
    }
  }

  &.avatar-large {
    font-size: 1.5rem;
    height: 72px;
    width: 72px;

    >.status-dot {
      bottom: .1rem;
      left: .1rem;
      padding: 6.5px;
    }
  }

  &.avatar-xlarge {
    font-size: 2.5rem;
    height: 120px;
    width: 120px;

    >.status-dot {
      bottom: .25rem;
      left: .75rem;
      padding: 7px;
    }
  }

  >.avatar-inner-container {
    border: 1px solid $n400;
    border-radius: 50%;
    color: $i400;
    font-weight: 600;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    width: 100%;

    &.with-hover {
      cursor: pointer;
      transition: border-color .2s;

      &:hover,
      &:active,
      &:focus {
        border-color: $i400;
      }
    }

    >.avatar-hover {
      align-items: center;
      background: rgba(0, 0, 0, .6);
      color: $n100;
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      transition: opacity .2s;
      width: 100%;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }

      &.avatar-small {
        >.avatar-hover-icon {
          font-size: .75rem;
        }

        >.avatar-hover-label {
          display: none;
        }
      }

      &.avatar-medium {
        >.avatar-hover-icon {
          font-size: 1.25rem;
        }

        >.avatar-hover-label {
          display: none;
        }
      }

      &.avatar-large {
        >.avatar-hover-icon {
          font-size: 1.25rem;
        }

        >.avatar-hover-label {
          font-size: .65rem;
        }
      }

      &.avatar-xlarge {
        >.avatar-hover-icon {
          font-size: 2rem;
        }

        >.avatar-hover-label {
          font-size: .75rem;
        }
      }

      > * {
        padding: .2rem .7rem;
      }

      // NOTE: This to override default styles of font-awesome in lapis (has no effect on ui-components)
      >.fa {
        margin: 0;
        text-align: inherit;
        width: auto;
      }

      >.avatar-hover-label {
        font-size: .75rem;
        font-weight: 600;
        line-height: .85rem;
        text-transform: uppercase;
      }
    }

    >.avatar-initials-container {
      align-items: center;
      background-color: $n200;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}
