@import '../../../common/sass/variables';

:local(.dateRangePickerOverrides) {
  .CalendarMonth_table {
    tr {
      border-bottom: 0;
    }
  }

  .DateRangePicker_picker {
    // NOTE: the order of these styles DO matter
    .CalendarMonth_caption {
      > strong {
        color: $n800;
        font-size: $fz-heading;
        font-weight: $fw-heavy;
      }
    }

    .CalendarDay {
      &:hover {
        background: $n250;
      }
    }

    // the range of dates when user are picking the dates
    .CalendarDay__hovered_span {
      background: $i100;
      border: 1px solid #e4e7e7; //default border styles
      color: #484848; //default color styles
    }

    // the range of dates that user are selected
    .CalendarDay__selected_span {
      background: $i100;
      border: 1px solid #e4e7e7; //default border styles
      color: #484848; //default color styles
    }

    // the start date adn end date that user are selected
    .CalendarDay__selected_start, .CalendarDay__selected_end {
      background: $i400;
      border: 1px solid $i100;
      color: $n100;

      &:hover {
        background: $i400;
        color: $n100;
      }
    }

    .DayPickerNavigation_button__horizontalDefault {
      padding: 9px;
    }
  }

  .DateRangePickerInput {
    display: flex;
    align-items: center;
    padding-right: 0;
    border-radius: $border-radius;
    border-color: $n400;

    &:focus, &:hover {
      border-color: $i400;
      outline: none;
    }
  }

  .DateInput {
    background: none;
    height: $spacing-2xlarge;
  }

  .DateInput_input {
    border: 0;
    background: none;
    margin: 0;
    text-align: center;
    color: $n700;
    font-size: $fz-body;
    font-weight: $fw-normal;
    line-height: $lh-body;
    padding: .5rem;
    transition: color .3s ease-in-out;

    &:focus, &:hover {
      color: $i400;
    }

    &:disabled {
      color: $n700;
      background: none;
    }
  }

  .DateRangePickerInput_arrow {
    cursor: default;
  }

  .DateRangePickerInput_clearDates {
    color: $n600;
    font-size: $fz-heading;
    font-weight: $fw-heavy;
    line-height: $lh-heading;
    outline: none;
    transition: color .3s ease-in-out;

    &:focus, &:hover {
      color: $n800;
    }

    &:disabled {
      color: $n600;
      cursor: not-allowed;
    }
  }

  .DateRangePickerInput__disabled {
    &:focus, &:hover {
      border-color: $n400;
      color: $n600;
    }
  }

  &.is-invalid-input {
    &:not(:focus) {
      background-color: transparent;
    }

    input {
      background-color: transparent;
      color: $r400;

      &::placeholder {
        color: $r400;
      }

      &:focus, &:hover {
        color: $n700;
      }
    }

    .DateInput {
      background: none;
    }

    .DateRangePickerInput {
      border-color: $r400;
      background-color: mix($r400, #fff, 10%);
    }
  }
}
