@import '../../../common/sass/variables';

:local(.radioInput) {
  label {
    color: $n800;
    cursor: default;
    display: block;
    font-size: $fz-small;
    line-height: $lh-small;
    margin-bottom: 12px;

    span {
      &::before {
        background-color: $n150;
        border: 2px solid $n400;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 12px;
        vertical-align: middle;
        width: 16px;
      }
    }

    input {
      display: none;

      &:hover {
        & + span {
          &::before {
            background-color: $n300;
          }
        }

        &:disabled + span {
          &::before {
            background-color: $n150;
            border-color: $n300;
          }
        }
      }

      &:checked {
        & + span {
          &::before {
            background-image: radial-gradient(circle closest-side, $i400 , $i400 50%, transparent 50%, transparent 100%);
            border-color: $i400;
          }
        }

        &:disabled + span {
          &::before {
            background-image: radial-gradient(circle closest-side, $n300 , $n300 50%, transparent 50%, transparent 100%);
            border-color: $n300;
          }
        }
      }

      &:disabled {
        & + span {
          color: $n500;

          &::before {
            background-color: $n150;
            border-color: $n300;
          }
        }

      }

    }
  }
}
