@import '../../../common/sass/variables';

$button-spacing: 10px;

$button-styles: (
  // ––––––––––––––––––––––––––––––––––––
  // Functional
  // ––––––––––––––––––––––––––––––––––––
  primary: (
    background-color: $i400,
    border: transparent,
    text-color: $n100,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $i500,
    hover-text-color: $n100,
    active-background-color: $i600,
    active-text-color: $n100,
    focus-background-color: $i100,
    focus-text-color: $i400,
    focus-border-color: $i400
  ),
  secondary: (
    background-color: $b400,
    border: transparent,
    text-color: $n100,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $b500,
    hover-text-color: $n100,
    active-background-color: $b600,
    active-text-color: $n100,
    focus-background-color: $b100,
    focus-text-color: $b400,
    focus-border-color: $b400 
  ),
  success: (
    background-color: $g200,
    border: transparent,
    text-color: $g600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $g300,
    hover-text-color: $g600,
    active-background-color: $g400,
    active-text-color: $n100,
    focus-background-color: $g100,
    focus-text-color: $g600,
    focus-border-color: $g400 
  ),
  warning: (
    background-color: $o200,
    border: transparent,
    text-color: $o600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $o300,
    hover-text-color: $o600,
    active-background-color: $o400,
    active-text-color: $n100,
    focus-background-color: $o100,
    focus-text-color: $o600,
    focus-border-color: $o400 
  ),
  alert: (
    background-color: $r100,
    border: transparent,
    text-color: $r500,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $r200,
    hover-text-color: $r500,
    active-background-color: $r400,
    active-text-color: $n100,
    focus-background-color: $r100,
    focus-text-color: $r500,
    focus-border-color: $r300 
  ),
  neutral: (
    background-color: $n300,
    border: transparent,
    text-color: $n700,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $n400,
    hover-text-color: $n700,
    active-background-color: $n600,
    active-text-color: $n100,
    focus-background-color: $n400,
    focus-text-color: $n700,
    focus-border-color: $n600 
  ),
  highlight: (
    background-color: $c200,
    border: transparent,
    text-color: $c600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $c300,
    hover-text-color: $c600,
    active-background-color: $c400,
    active-text-color: $n100,
    focus-background-color: $c100,
    focus-text-color: $c600,
    focus-border-color: $c400
  ),
  dark: (
    background-color: $n800,
    border: transparent,
    text-color: $n100,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $n600,
    hover-text-color: $n200,
    active-background-color: $n500,
    active-text-color: $n100,
    focus-background-color: $n200,
    focus-text-color: $n700,
    focus-border-color: $n600 
  ),
  light: (
    background-color: $n100,
    border: transparent,
    text-color: $n700,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $n300,
    hover-text-color: $n700,
    active-background-color: $n400,
    active-text-color: $n100,
    focus-background-color: $n150,
    focus-text-color: $n600,
    focus-border-color: $n400
  ),
  // ––––––––––––––––––––––––––––––––––––
  // Borderless
  // ––––––––––––––––––––––––––––––––––––
  primary-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $i400,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $i100,
    hover-text-color: $i600,
    active-background-color: $i200,
    active-text-color: $i600,
    focus-background-color: $i100,
    focus-text-color: $i600,
    focus-border-color: $i400 
  ),
  secondary-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $b400,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $b100,
    hover-text-color: $b600,
    active-background-color: $b200,
    active-text-color: $b600,
    focus-background-color: $b100,
    focus-text-color: $b600,
    focus-border-color: $b400
  ),
  success-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $g600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $g100,
    hover-text-color: $g600,
    active-background-color: $g200,
    active-text-color: $g600,
    focus-background-color: $g100,
    focus-text-color: $g600,
    focus-border-color: $g400 
  ),
  warning-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $o600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $o100,
    hover-text-color: $o600,
    active-background-color: $o200,
    active-text-color: $o600,
    focus-background-color: $o100,
    focus-text-color: $o600,
    focus-border-color: $o400 
  ),
  alert-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $r600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $r100,
    hover-text-color: $r600,
    active-background-color: $r200,
    active-text-color: $r600,
    focus-background-color: $r100,
    focus-text-color: $r600,
    focus-border-color: $r400 
  ),
  neutral-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $n700,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $n200,
    hover-text-color: $n700,
    active-background-color: $n300,
    active-text-color: $n700,
    focus-background-color: $n200,
    focus-text-color: $n700,
    focus-border-color: $n400 
  ),
  highlight-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $c600,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $c100,
    hover-text-color: $c600,
    active-background-color: $c200,
    active-text-color: $c600,
    focus-background-color: $c100,
    focus-text-color: $c600,
    focus-border-color: $c400 
  ),
  dark-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $n700,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $n800,
    hover-text-color: $n700,
    active-background-color: $dark-active,
    active-text-color: $dark-hover-text
  ),
  light-borderless: (
    background-color: transparent,
    border: transparent,
    text-color: $light-base,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $light-base,
    hover-text-color: $light-text,
    active-background-color: $light-active,
    active-text-color: $light-hover-text
  ),
  // ––––––––––––––––––––––––––––––––––––
  // Hollow
  // ––––––––––––––––––––––––––––––––––––
  primary-hollow: (
    background-color: transparent,
    border: $i400,
    text-color: $primary-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $primary-hollow-hover,
    hover-text-color: $primary-hollow-text,
    active-background-color: $primary-hollow-active,
    active-text-color: $primary-hollow-active-text,
    hover-border-color: $primary-hollow-base
  ),
  secondary-hollow: (
    background-color: transparent,
    border: $b400,
    text-color: $secondary-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $secondary-hollow-hover,
    hover-text-color: $secondary-hollow-text,
    active-background-color: $secondary-hollow-active,
    active-text-color: $secondary-hollow-active-text,
    hover-border-color: $secondary-hollow-base
  ),
  success-hollow: (
    background-color: transparent,
    border: $success-base,
    text-color: $success-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $success-hollow-hover,
    hover-text-color: $success-hollow-text,
    active-background-color: $success-hollow-active,
    active-text-color: $success-hollow-active-text,
    hover-border-color: $success-hollow-base
  ),
  warning-hollow: (
    background-color: transparent,
    border: $warning-base,
    text-color: $warning-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $warning-hollow-hover,
    hover-text-color: $warning-hollow-text,
    active-background-color: $warning-hollow-active,
    active-text-color: $warning-hollow-active-text,
    hover-border-color: $warning-hollow-base
  ),
  alert-hollow: (
    background-color: transparent,
    border: $alert-base,
    text-color: $alert-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $alert-hollow-hover,
    hover-text-color: $alert-hollow-text,
    active-background-color: $alert-hollow-active,
    active-text-color: $alert-hollow-active-text,
    hover-border-color: $alert-hollow-base
  ),
  neutral-hollow: (
    background-color: transparent,
    border: $neutral-base,
    text-color: $neutral-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $neutral-hollow-hover,
    hover-text-color: $neutral-hollow-text,
    active-background-color: $neutral-hollow-active,
    active-text-color: $neutral-hollow-active-text,
    hover-border-color: $neutral-hollow-base
  ),
  highlight-hollow: (
    background-color: transparent,
    border: $highlight-base,
    text-color: $highlight-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $highlight-hollow-hover,
    hover-text-color: $highlight-hollow-text,
    active-background-color: $highlight-hollow-active,
    active-text-color: $highlight-hollow-active-text,
    hover-border-color: $highlight-hollow-base
  ),
  dark-hollow: (
    background-color: transparent,
    border: $n800,
    text-color: $dark-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $dark-hollow-hover,
    hover-text-color: $dark-hollow-text,
    active-background-color: $dark-hollow-active,
    active-text-color: $dark-hollow-active-text,
    hover-border-color: $dark-hollow-base
  ),
  light-hollow: (
    background-color: transparent,
    border: $light-base,
    text-color: $light-hollow-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $light-hollow-hover,
    hover-text-color: $light-hollow-text,
    active-background-color: $light-hollow-active,
    active-text-color: $light-hollow-active-text,
    hover-border-color: $light-hollow-base
  ),
  // ––––––––––––––––––––––––––––––––––––
  // Special Case
  // ––––––––––––––––––––––––––––––––––––
  cancel: (
    background-color: transparent,
    border: transparent,
    text-color: lighten($main-text, 24%),
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: transparent,
    hover-text-color: $main-text,
    active-background-color: transparent,
    active-text-color: $main-text
  ),
  add: (
    background-color: transparent,
    border: transparent,
    text-color: $b400,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $b400,
    hover-text-color: $n100,
    active-background-color: $secondary-active,
    active-text-color: $secondary-hover-text
  ),
  add-subtle: (
    background-color: transparent,
    border: transparent,
    text-color: darken($neutral-base, 10%),
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: transparent,
    hover-text-color: $b400,
    active-background-color: transparent,
    active-text-color: $b400
  ),
  delete: (
    background-color: $neutral,
    border: transparent,
    text-color: $alert,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $alert-hover,
    hover-text-color: $alert-hover-text,
    active-background-color: $alert-active,
    active-text-color: $alert-hover-text
  ),
  delete-subtle: (
    background-color: $neutral,
    border: transparent,
    text-color: $neutral-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $alert-hover,
    hover-text-color: $alert-hover-text,
    active-background-color: $alert-active,
    active-text-color: $alert-hover-text
  ),
  resolve: (
    background-color: $neutral,
    border: transparent,
    text-color: $neutral-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $success-hover,
    hover-text-color: $success-hover-text,
    active-background-color: $success-active,
    active-text-color: $success-hover-text
  ),
  skip: (
    background-color: transparent,
    border: transparent,
    text-color: $neutral-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: $neutral-base,
    hover-text-color: $neutral-text,
    active-background-color: $neutral-active,
    active-text-color: $neutral-hover-text
  ),
  menu-action: (
    background-color: transparent,
    border: transparent,
    text-color: $main-text,
    disabled-background-color: $n200,
    disabled-text-color: $n400,
    hover-background-color: transparent,
    hover-text-color: $b400,
    active-background-color: transparent,
    active-text-color: $b400
  )
);

@mixin add-disabled ($background-color, $text-color, $border-color) {
  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color;
    cursor: not-allowed;
    opacity: 1;

    &:focus,
    &:hover {
      background-color: $background-color;
      color: $text-color;
      border-color: $border-color;
    }
  }
}

@mixin add-button-style ($style) {
  @include add-disabled(
    map-get($style, disabled-background-color),
    map-get($style, disabled-text-color),
    map-get($style, disabled-border-color)
  );

  background-color: map-get($style, background-color);
  border-color: map-get($style, border);
  color: map-get($style, text-color);

  &:hover,
  &.hover {
    background-color: map-get($style, hover-background-color);
    color: map-get($style, hover-text-color);

    @if map-has-key($style, hover-border-color) {
      border-color: map-get($style, hover-border-color);
    }
  }

  &:focus {
    background-color: map-get($style, focus-background-color);
    color: map-get($style, focus-text-color);

    @if map-has-key($style, focus-border-color) {
      border-color: map-get($style, focus-border-color);
    }
  }

  &:active,
  &.active {
    background-color: map-get($style, active-background-color);
    color: map-get($style, active-text-color);
  }
}

:local(.button) {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 .125rem 1rem;
  outline: none;
  padding: .85em 1em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .25s ease-out, color .25s ease-out;

  .fa {
    vertical-align: initial;
  }

  @each $colour, $style in $button-styles {
    &.#{$colour} {
      @include add-button-style($style);
    }
  }

  &.small {
    font-size: .75rem;
  }

  &.large {
    font-size: 1.25rem;
  }

  .button-icon {
    &.left {
      margin-right: 3px;
    }

    &.right {
      margin-left: 3px;
    }
  }
}
