.feature-panel {
  float: left;
  display: block;
  background-color: $secondary-color;
  color: #ffffff;
  padding: 10px;
  width: 200px;
  margin: 0 20px 20px 0;

  &:hover, &:active, &:visited {
    color: #ffffff;
  }

  .icon {
    font-size: rem-calc(30);
    text-align: center;
  }

  .heading {
    font-size: rem-calc(24);
    text-align: center;
  }

  .content {
    font-size: rem-calc(12);
    text-align: center;
  }
}
