footer {
  padding: 1rem;
  background-color: $light-gray;
  font-size: rem-calc(14);

  .copyright {
    color: #555555;
    text-align: center;
  }

  .get-help {
    text-align: center;

    @include breakpoint(medium up) {
      text-align: right;
    }
  }

  .row {
    max-width: none;
  }
}
