// Hack to prevent scrollbars outside the modal when the modal goes off the screen
body {
  &.ReactModal__Body--open {
    overflow-y: hidden;

    @include breakpoint(small down) {
      position: fixed;
      height: 100%;
      width: 100%;
    }
  }
}

.reveal {
  padding: 1.5rem;
  overflow-y: visible;
  margin-bottom: 2rem;

  .title {
    color: $main-text;
    font-size: 1.3125rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .row {
    &.column {
      &.content-container {
        padding: 0;
      }
    }
  }

  &.fixed-xxlarge-up {
    min-width: 1380px;
    width: 1380px;

    @include breakpoint(xlarge down) {
      min-width: 0;
      width: 90%;
    }

    @include breakpoint(small only) {
      min-width: 0;
      width: 100%;
    }
  }

  &.fixed-large-up {
    min-width: 960px;
    width: 960px;

    @include breakpoint(medium only) {
      min-width: 0;
      width: 90%;
    }

    @include breakpoint(small only) {
      min-width: 0;
      width: 100%;
    }
  }

  &.fixed-medium-up {
    min-width: 600px;
    width: 600px;

    @include breakpoint(small only) {
      min-width: 0;
      width: 100%;
    }
  }
}

.modal-wrapper {
  display: inline;
}
