.tabs {
  border: none;
  width: auto;
  position: relative;
  top: 1px;
  background-color: transparent;

  .tabs-title {
    > a {
      background-color: transparent;
      border: 0;
      box-shadow: inset 0 -1px 0 0 $neutral;
      color: $main-text;
      font-size: inherit;
      font-weight: 600;
      padding: rem-calc(15) rem-calc(20);
      text-transform: uppercase;
      transition: box-shadow .3s ease, color .3s ease;

      &:hover,
      &:focus {
        background-color: $main-background;
        box-shadow: inset 0 -3px 0 0 $neutral;
        color: $primary;
      }
    }

    &.is-active > a {
      background-color: $main-background;
      border: 0;
      box-shadow: inset 0 -3px 0 0 $primary;
      color: $primary;
    }
  }

  .tabs-title:last-child > a {
    border-right-width: 1px;
  }
}

.tabs-content {
  border: 1px solid $neutral;
}
