$button-spacing: 10px;

.user-menu {
  display: flex;
  justify-content: flex-end;

  &.mobile {
    align-items: center;
  }

  &.desktop {
    @include show-for(large);

    .dropdown {
      margin-left: $button-spacing;
    }
  }

  a {
    color: $sidebar-text;
  }

  .is-dropdown-submenu-parent {
    > a {
      transition: color .25s ease, background-color .25s ease;

      &:hover {
        background-color: $main-background-hover;
        border-radius: $global-radius;
        color: $primary-color;
      }
    }
  }

  .dropdown.menu li.is-active {
    > a {
      color: $primary-color;

      > .dropdown-arrow {
        transform: rotate(180deg);
      }
    }
  }

  .submenu {
    background-color: $main-background;
    border: 1px solid $neutral;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .12) 0 2px 4px;
    margin-right: 12px;
    min-width: 100%;

    a {
      &:hover {
        background-color: $main-background-hover;
        color: $sidebar-text;
        transition: color, background-color .2s ease;
      }

      &:first-of-type {
        border-radius: $global-radius $global-radius 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 $global-radius $global-radius;
      }
    }
  }
}
