:local(.PersonBadge) {
  display: inline-block;
  position: relative;

  >.extended-leave-circle {
    background-color: $warning-base;
    border: 2px solid $main-background-hover;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2); // sass-lint:disable-line no-color-literals
    position: absolute;
  }

  &.small {
    font-size: .8rem;
    height: 30px;
    width: 30px;

    >.extended-leave-circle {
      bottom: -.1rem;
      left: -.3rem;
      padding: 5px;
    }
  }

  &.medium {
    font-size: 1rem;
    height: 40px;
    width: 40px;

    >.extended-leave-circle {
      bottom: -.1rem;
      left: -.3rem;
      padding: 5.5px;
    }
  }

  &.large {
    font-size: 1.5rem;
    height: 72px;
    width: 72px;

    >.extended-leave-circle {
      bottom: .1rem;
      left: .1rem;
      padding: 6.5px;
    }
  }

  &.xlarge {
    font-size: 2.5rem;
    height: 120px;
    width: 120px;

    >.extended-leave-circle {
      bottom: .25rem;
      left: .75rem;
      padding: 7px;
    }
  }

  >.person-badge-inner-container {
    border: 1px solid $border-light;
    border-radius: 50%;
    color: $link-text;
    font-weight: 600;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    width: 100%;

    &.with-hover {
      cursor: pointer;
      transition: border-color .2s;

      &:hover,
      &:active,
      &:focus {
        border-color: $primary-base;
      }
    }

    >.person-badge-hover {
      align-items: center;
      background: rgba(0, 0, 0, .6); // sass-lint:disable-line no-color-literals
      color: $primary-text;
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      transition: opacity .2s;
      width: 100%;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }

      >* {
        padding: .2rem .7rem;
      }

      >.person-badge-hover-label {
        font-size: .75rem;
        font-weight: 600;
        line-height: .85rem;
        text-transform: uppercase;
      }

      &.small {
        >.person-badge-hover-icon {
          font-size: .75rem;
        }

        >.person-badge-hover-label {
          display: none;
        }
      }

      &.medium {
        >.person-badge-hover-icon {
          font-size: 1.25rem;
        }

        >.person-badge-hover-label {
          display: none;
        }
      }

      &.large {
        >.person-badge-hover-icon {
          font-size: 1.25rem;
        }

        >.person-badge-hover-label {
          font-size: .65rem;
        }
      }

      &.xlarge {
        >.person-badge-hover-icon {
          font-size: 2rem;
        }

        >.person-badge-hover-label {
          font-size: .75rem;
        }
      }
    }

    >.badge-initials-container {
      align-items: center;
      background-color: $badge-background-light;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}
