#letterContentContainer {

  border: 1px solid #cacaca;

  #letterContentToolbar {
    position: relative;
    height: 40px;
    width: 100%;
  }

  &.fixed {
    #letterContentToolbar {
      position: fixed;
      top: 0;
      z-index: 1;
      width: auto;

      .medium-editor-toolbar {
        border-color: $primary-color;
      }
    }
  }

  #letterContent {
    padding: 10px 20px;
    min-height: 300px;
  }

  #syntaxInfo {
    background-color: #ffd700;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border-top: 1px solid #cacaca;
  }
}

#letterTextarea {
  display: none;
}

// Hack for Medium Editor
.medium-editor-toolbar {
  visibility: visible;
}
