@import '~react-select/dist/react-select.css';

// sass-lint:disable class-name-format

@mixin react-select-form-input-error(
  $background: $alert,
  $background-lighten: 10%
) {
  .Select-control {
    border-color: $background;
  }

  &:not(.is-focused) {
    .Select-control {
      background-color: mix($background, $light-base, $background-lighten);
    }
  }
}

:local(.selectInput) {
  .Select {
    &.is-focused {
      .Select-control {
        border: 1px solid $primary;
        box-shadow: none;
      }
    }

    &.is-disabled {
      .Select-control {
        &,
        &:hover {
          background-color: $neutral;
          opacity: .5;
        }
      }
    }

    &.is-invalid-input {
      @include react-select-form-input-error;
    }

    .Select-control {
      border: 1px solid $border;
      margin-bottom: 1rem;
      transition: border-color .3s ease-in-out, background-color .3s ease;

      &:hover {
        background-color: $main-background-hover;
      }

      .Select-value-label {
        color: $sidebar-text !important; // sass-lint:disable-line no-important
      }

      .Select-placeholder {
        color: $neutral-text;
      }

      .Select-clear-zone {
        color: $neutral-text;

        &:hover {
          color: $alert-base;
        }
      }
    }

    .Select-menu-outer {
      margin-bottom: 40px;
    }
  }
}
