@import '~react-select/dist/react-select.css';

@import '../../../common/sass/variables';

// sass-lint:disable class-name-format

@mixin react-select-form-input-error(
  $error-border: $r300,
  $error-background: $r100
) {
  .Select-control {
    border-color: $error-border;
  }

  &:not(.is-focused) {
    .Select-control {
      background-color: $error-background;
    }
  }
}

:local(.selectInput) {
  .Select {
    &.is-focused {
      .Select-control {
        border: 1px solid $i400;
        box-shadow: none;
      }
    }

    &.is-disabled {
      .Select-control {
        &,
        &:hover {
          background-color: $n400;
        }
      }
    }

    &.is-invalid-input {
      @include react-select-form-input-error;
    }

    .Select-control {
      border: 1px solid $n400;
      margin-bottom: 1rem;
      transition: border-color .3s ease-in-out, background-color .3s ease;

      &:hover {
        background-color: $n500;
      }

      .Select-value-label {
        color: $n700 !important; // sass-lint:disable-line no-important
      }

      .Select-placeholder {
        color: $n400;
      }

      .Select-clear-zone {
        color: $n700;

        &:hover {
          color: $r600;
        }
      }
    }

    .Select-menu-outer {
      margin-bottom: 40px;
    }
  }
}
