@import '../sass/foundation_settings';
@mixin toast-color-coding ($colorScheme) {
  background-color: map-get($colorScheme, light);
  border-color: map-get($colorScheme, base);
  .fa {
    color: map-get($colorScheme, base);
  }
  .toast-text {
    color: map-get($colorScheme, textOnLight);
  }
}

:local(.ToastClass) {
  align-items: baseline;
  border-radius: $global-radius;
  border-style: solid;

  border-width: .1rem;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;

  padding: .75rem;

  >.fa,.fa-container {
    flex: 0 auto;

    &.toast-icon {
      font-size: 2rem;
    }
    &.toast-close-span {
      cursor: pointer;
      font-size: .95rem;
      position: relative;
      top: -.3rem;
    }
  }
  >.toast-content {
    flex: auto;
    padding: 0 .575rem;
    position: relative;
    top: -.375rem;
  }

  @each $colour, $values in $functional-colours {
    &.#{$colour} {
      @include toast-color-coding($values);
    }
  }
}
