@import '../../../common/sass/variables';

$callouts: (
  neutral:       (background: $n200, border: $n400, color: $n800, title: $n700),
  info:          (background: $c100, border: $c400, color: $n800, title: $n700),
  success:       (background: $g100, border: $g400, color: $n800, title: $n700),
  warning:       (background: $o100, border: $o400, color: $n800, title: $n700),
  error:         (background: $r100, border: $r400, color: $n800, title: $n700),
  no-data:       (background: $n150, border: $n400, color: $n800, title: $n700),
  preview-mode:  (background: $n150, border: $n150, color: $n600, title: $n700),
  edit-mode:     (background: $b100, border: $b100, color: $b500, title: $n700)
);

@mixin add-callout ($background, $border, $color, $title) {
  background-color: $background;
  border-color: $border;
  color: $color;
}

%callout {
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;

  /// HACK: For existing callouts within templates
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  :local(.content),
  .content {
    flex-grow: 1;

    .title {
      color: $n700;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .action-list {
      margin-top: 50px;
    }
  }

  .actions {
    padding-top: .4rem;

    > a {
      padding: .85em 1em;
      text-transform: uppercase;

      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  .close {
    align-items: stretch;
    flex: 0;
    padding: 0 16px;
  }

  @each $type, $attributes  in $callouts {
    @if $type == 'neutral' {
      @include add-callout($attributes...);
    } @else {
      &.#{$type} {
        @include add-callout($attributes...);
      }
    }
  }

  &.no-data {
    border-width: 0;
    padding: 50px;
    text-align: center;
  }

  &.justify-center {
    justify-content: center;
    text-align: left;

    :local(.content),
    .content {
      max-width: 600px;
    }
  }

  &.small {
    padding: .5rem;
  }

  // Form preview, etc
  &.edit-mode,
  &.preview-mode {
    font-size: .9rem;
    font-weight: 600;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
  }

  // Fix for form classes used in legacy callouts
  > .ihr-form,
  > .ihr-form-view {
    > .field-container {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

:local(.callout) {
  @extend %callout;
}

.callout {
  @extend %callout;
  margin: 0 0 1rem;
}
