.off-canvas-wrapper,
.off-canvas,
.off-canvas-content {
  min-height: 100vh;
}

.off-canvas-content {
  box-shadow: 0 0 0;

  >.content-container {
    padding-bottom: 2rem;
  }
}

.content-container,
fieldset {
  hr {
    max-width: 100%;
  }
}

.off-canvas {
  height: 100%;
}

.off-canvas-wrapper {
  overflow: initial ;
  padding-bottom: 5rem;
  width: 100%;

  #offCanvasLeft { // sass-lint:disable-line no-ids
    bottom: 0;
    height: auto;
    min-height: auto;
    position: fixed;

    .ps__rail-y { // sass-lint:disable-line class-name-format
      &,
      &:hover {
        .ps__thumb-y { // sass-lint:disable-line class-name-format
          background-color: #c3ccd0;
        }
      }
    }
  }
}

.fa {
  &.fa-xl {
    font-size: 1.5rem;
  }
}
