.CodeMirror {
  border: 1px solid $border;
  border-radius: $input-radius;
  color: $main-text;
  height: 450px;
  margin-bottom: 1rem;
}

.cm-template-variable {
  color: green;
}

.cm-invalid-template-variable {
  color: red;
}
