.ToolTipPortal {
  > div {
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    border: 1px solid $border-light;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out !important;

    > div {
      > span:nth-of-type(1) {
        z-index: 6 !important;
      }
      > span:nth-of-type(2) {
        z-index: 5 !important;
      }
      > span {
        transition: none !important;
      }
    }
  }
}
