@import '~react-select/dist/react-select.css';
@import '~foundation-sites/scss/forms/error';
@import '../resources/mixins';

.Select {
  &.is-focused {
    .Select-control {
      border: $input-border-focus;
      box-shadow: none;
    }
  }

  &.is-disabled {
    .Select-control,
    .Select-control:hover {
      background-color: $neutral;
      opacity: .5;
    }
  }

  &.is-invalid-input {
    @include react-select-form-input-error;
  }

  .Select-control {
    margin-bottom: 1rem;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease;
    border: $input-border;

    &:hover {
      background-color: $main-background-hover;
    }

    .Select-value-label {
      color: $sidebar-text !important;
    }

    .Select-placeholder {
      color: $neutral-text;
    }

    .Select-clear-zone {
      color: $neutral-text;

      &:hover {
        color: $alert-base;
      }
    }
  }

  .Select-menu-outer {
    margin-bottom: 40px;
  }
}
