@import '../../../common/sass/variables';

:local(.ihrEmptyState),
.ihr-empty-state {
  background-color: $n150;
  border-color: $n400;
  border-width: 0;
  flex-grow: 1;
  padding: 48px;
  text-align: center;
}
