:local(.radarChartClass) {
  height: 400px;
  max-width: 500px;

  ul {
    margin: 0;
    padding: 0;
    position: absolute;

    li {
      display: flex;
      align-items: center;
      font-size: .8rem;
      margin-bottom: 3px;

      &:last-child {
        margin-bottom: 0;
      }

      i {
        font-size: 10px;
      }

      .legend-label {
        width: 100%;
        margin-left: 5px;
        white-space: nowrap;
      }
    }
  }
}
