.ihr-login {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/images/background.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  .content-container {
    padding: 0;
  }


  .tenant-logo-container,
  .intellihr-logo-container {
    margin-bottom: rem-calc(20);
    text-align: center;
}

  .tenant-logo-container {
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }

  .intellihr-logo-container {
    img {
      max-height: 150px;
      max-width: 150px;
    }
  }

  .ihr-login-container {
    & > div {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 0 0 $global-radius $global-radius;
      box-shadow: 0 rem-calc(3) rem-calc(3) rgba(0, 0, 0, 0.25);
      max-width: 400px;
      padding: rem-calc(30) 0 0;

      .login-content {
        padding: 0 rem-calc(20) rem-calc(20) rem-calc(20);
      }

      .login-form {
        overflow-x: hidden;
        white-space: nowrap;

        .inner-liner {
          width: 200%;

          #sso-login-options,
          #login-options {
            display: inline-block;
            vertical-align: top;
            width: 50%;
          }
        }
      }
    }
  }

  #outdated-device-info {
    margin-bottom: 0;
    text-align: center;
  }
}
