.people-list {
  tr {
    vertical-align: top;
  }
}

.person-profile-name-heading {
  margin: 20px 0;

  .profile-display-name {
    display: flex;
    align-items: center;
    margin-left: 30px;

    .profile-display-text {
      line-height: 2;

      h1 {
        margin-bottom: 0;
        line-height: initial;
      }

      .profile-current-job-name {
        font-size: 1.125rem;
        color: $main-text-light;
      }
    }
  }
}
