.performance-report {
  margin: auto;
  max-width: 1440px;

  .header-content {
    margin: 20px 0 0 20px;
  }

  .view-type {
    font-size: 28px;
    font-weight: 300;
  }

  .inner-separator {
    border: 0;
    border-top: 1px solid $medium-gray;
    display: block;
    height: 1px;
    margin: 1em auto 1.2em auto;
    padding: 0;
    width: 40%;
  }

  .missing-value {
    color: $medium-gray;
  }

  .tile-box {
    color: white;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;

    .blue {
      background-color: $primary;
    }

    .gray {
      background-color: $medium-gray;
    }

    .child {
      border: 1px solid black;
      border-radius: 2%;
      line-height: 50px;

      .first-line {
        font-size: 30px;
      }

      .second-line {
        font-size: 17px;
      }

      .progress-status {
        font-size: 25px;
        line-height: 100px;
      }
    }
  }

  .type {
    font-size: 20px;
    font-weight: 100;
  }

  .item-title {
    margin-bottom: 10px;
  }

  .tiles {
    width: 75%;
  }

  .direct-report-name {
    margin-top: 25px;
  }

  .performance-report-section {
    padding: 20px;

    .row {
      padding: 0 10px;
    }

    .first-row {
      margin-bottom: 25px;
    }
  }

  .performance-report-title,
  .side-title {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
  }

  .performance-report-subtitle {
    font-size: 22px;
    margin-top: 10px;
  }

  .form-answer {
    margin-bottom: 15px;
  }

  .outstanding-notification {
    color: red;
    font-weight: bold;
  }

  .report-item {
    border-radius: 5px;
    border: 1px solid;
    margin-top: 20px;
    padding: 20px;
    width: 75%;
  }

  .report-item > .side-items {
    .row {
      margin: 20px 0;
    }
  }

  .item-header {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .section-title {
    color: darkslateblue;
    font-size: 35px;
    font-weight: 100;
    margin: 2% 0% 2% 6%;
  }

  .section-subtitle {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
  }

  .header-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  .header-subtitle {
    margin: 20px 0 20px 0;
    text-align: center;

    .header-value {
      font-size: 25px;
    }

    .header-details {
      margin-top: 20px;
    }

    .header-details-field {
      margin-bottom: 10px;
    }

    .name {
      font-size: 35px;
    }

    .position {
      font-size: 20px;
    }
  }

  .separator,
  .section-separator {
    background-color: $light-gray;
    clear: both;
    height: 1px;
    width: 100%;
  }

  .page-break {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  #chart {
    margin-top: 4%;
  }

  .block {
    display: block;
  }

  .role-evaluation-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .chart-row {
    margin: auto;
    width: 80%;
  }

  .performance-management-note {
    font-size: 15px;
  }

  .goal-measurements {
    margin-top: 25px;

    ul {
      margin-bottom: 0;

      .fa {
        margin-top: 2px;
      }

      .fa-circle {
        transform: scale(0.5,0.5);
      }
    }
  }

  .goal-comments {
    margin-top: 25px;
  }
}

@media print {
  .performance-report {
    .medium-6 {
      width: 100%;
    }

    .large-1 {
      width: 8.33333%;
    }

    .large-2 {
      width: 16.66667%;
    }

    .large-3 {
      width: 25%;
    }

    .large-4 {
      width: 33.33333%;
    }

    .large-5 {
      width: 41.66667%;
    }

    .large-6 {
      width: 50%;
    }

    .large-7 {
      width: 58.33333%;
    }

    .large-8 {
      width: 66.66667%;
    }

    .large-9 {
      width: 75%;
    }

    .large-10 {
      width: 83.33333%;
    }

    .large-11 {
      width: 91.66667%;
    }

    .large-12,
    .chart-row {
      width: 100%;
    }

    .report-buttons {
      margin-left: 2%;
    }

    .chart-section {
      margin-top: 100px;
    }

    .stacked,
    .overall_summary_employee {
      margin-bottom: 150px;
    }

    .overall_summary_employee {
      margin-bottom: 230px;
      padding-top: 80px;
    }

    .report-item {
      font-size: 13px;
      padding: 10px;
      page-break-inside: avoid;
      width: 100%;
    }

    .tiles {
      margin-bottom: 15px;
      width: 90%;
    }

    .header-title {
      font-size: 40px;
    }

    .tile-box {
      height: 60px;

      .child {
        line-height: 30px;

        .first-line {
          font-size: 15px;
        }

        .second-line {
          font-size: 12px;
        }

        .progress-status {
          font-size: 13px;
          line-height: 40px;
        }
      }
    }

    .section-title {
      font-size: 35px;
      font-weight: 100;
      margin-bottom: 40px;
      margin-top: 0;
    }

    .page-break {
      page-break-after: always;
    }

    .performance-report-title {
      font-size: 19px;
    }

    .side-title {
      font-size: 18px;
    }

    .role-evaluation-title,
    .origin {
      font-size: 15px;
    }

    .performance-report-subtitle {
      font-size: 12px;
    }

    .section-separator {
      background: transparent;
      border: 0;
      border-top: solid 1px #aaa;
      display: block;
      height: 1px;
      margin-top: 5px;
      width: 100%;
    }

    .type {
      font-size: 12px;
      font-weight: 100;
    }

    .header-content {
      height: 330px;
    }
  }
}
