@import '../../../common/sass/variables';

@mixin base-crumb {
  font-size: 12px;
  color: $i400;
  float: left;

  a {
    color: $i400;
    &:hover{
      text-decoration: underline;
    }
  }

  &:not(:last-child)::after {
    top: 0;
    position: relative;
    margin: 0 12px;
    opacity: 1;
    content: "/";
    color: #667380;
  }
}

:local(.breadcrumbs),
.ihr-breadcrumbs {
  margin: 0;
  list-style: none;

  &::before, &::after {
    display: table;
    content: ' ';
  }
}

:local(.baseCrumb),
.ihr-breadcrumbs__crumb {
  @include base-crumb;
}

:local(.activeCrumb),
.ihr-breadcrumbs__crumb--active {
  @include base-crumb;

  &, a {
    color: $n700;
  }
}
