@import '../../../common/sass/variables';

@mixin base-crumb {
  color: $i400;
  float: left;
  font-size: 12px;

  a {
    color: $i400;

    &:hover {
      text-decoration: underline;
    }
  }

  &:not(:last-child) {
    &::after {
      color: #667380;
      content: '/';
      margin: 0 12px;
      opacity: 1;
      position: relative;
      top: 0;
    }
  }
}

:local(.breadcrumbs),
.ihr-breadcrumbs {
  list-style: none;
  margin: 0;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }
}

:local(.baseCrumb),
.ihr-breadcrumbs__crumb {
  @include base-crumb;
}

:local(.activeCrumb),
.ihr-breadcrumbs__crumb--active {
  @include base-crumb;

  &,
  a {
    color: $n700;
  }
}
